{% extends "template.html" %}
{% block contenido %}
    <form action="{{ url_for('crear_cultivo') }}" name="f" method="post">
        <fieldset>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre_cultivo" name="nombre_cultivo" required class="form-control">
          </div>
          <div class="form-group">
            <label for="ciruc">Descripcion</label>
            <input type="text" id="descripcion_cultivo" name="descripcion_cultivo" required class="form-control">
          </div>
          <div class="form-group">
            <label for="celular">Necesidad Agua</label>
            <input type="text" id="necesidad_agua" name="necesidad_agua" required class="form-control">
          </div>
    
          <button type="submit" class="btn btn-primary btn-salvar">Guardar</button>
          <a class="btn btn-danger" href="{{ url_for('listar_cultivos') }}">Volver</a>
        </fieldset>
    </form>
{% endblock %}