{% extends "template.html" %}
{% block contenido %}
    <form action="{{ url_for('actualizar_cultivo') }}" method="post">
        <fieldset>
            <input type="hidden" name="id" value="{{ cultivo.id }}">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre_cultivo" name="nombre_cultivo" value="{{ cultivo.nombre_cultivo }}" required class="form-control">
          </div>
          <div class="form-group">
            <label for="ciruc">Descripcion</label>
            <input type="text" id="descripcion_cultivo" name="descripcion_cultivo" value="{{ cultivo.descripcion_cultivo }}"  required class="form-control">
          </div>
           <div class="form-group">
            <label for="celular">Necesidad Agua</label>
            <input type="text" id="necesidad_agua" name="necesidad_agua" value="{{ cultivo.necesidad_agua }}"  required class="form-control">
          </div>
           
           <button type="submit" class="btn btn-primary btn-salvar">Guardar</button>
          <a class="btn btn-danger" href="{{ url_for('listar_cultivos') }}">Volver</a>
        </fieldset>
    </form>
{% endblock %}