{% extends "template.html" %}
{% block contenido %}

<div class="col-12">
  <div class="card recent-sales overflow-auto">

    <div class="card-body">
      <br>
      <div class="col-12" style="text-align: right;"><a class="btn btn-success" href="{{ url_for('newCropType') }}"><i
        class="bi bi-plus-square"> Agregar tipo de cultivo</i></a></div>
        <br>

      <table class="table table-borderless datatable">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Necesidad de agua</th>
            <th scope="col" width="15%"></th>

          </tr>
        </thead>
        <tbody>
          {% for crop in cropTypes %}
          <tr>
            <th scope="row"><a href="#">{{ crop.nombre_cultivo }}</a></th>
            <td>{{ crop.descripcion_cultivo }}</td>
            <td>{{ crop.necesidad_agua }}</td>
            <td><a class="btn btn-primary" href="{{ url_for('updateCropType', id=crop.id) }}"><i
                  class="bi bi-pencil-square"></i></a>
              <a class="btn btn-danger" href="{{ url_for('removeCropType', id=crop.id) }}"><i
                  class="bi bi-x-square"></i></a>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>

  </div>
</div><!-- End Recent Sales -->
{% endblock %}