{% extends "template.html" %}
{% block contenido %}
    <br>
    <a class="btn btn-primary" style="aling:rigth" href="{{ url_for('adicionar_cliente') }}">Nuevo Cliente</a>
    <br><br>
    <table class="table table-striped table-responsive table-bordered table-light">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>CI/RUC</th>
                <th>Celular</th>
                <th>Remover</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.nombre }}</td>
                            <td>{{ cliente.ciruc }}</td>
                            <td>{{ cliente.celular }}</td>
                            <td><a href="{{ url_for('remover_cliente', id=cliente.id) }}">Remover</a></td>
                            <td><a href="{{ url_for('editar_cliente', id=cliente.id) }}">Editar</a></td>
                        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}