{% extends "template.html" %}
{% block contenido %}
    <br>
    <a class="btn btn-primary" style="aling:rigth" href="{{ url_for('adicionar_cultivo') }}">Nuevo Cultivo</a>
    <br><br>
    <table class="table table-striped table-responsive table-bordered table-light">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Necesidad Agua</th>
                <th>Remover</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for cultivo in cultivos %}
                        <tr>
                            <td>{{ cultivo.nombre_cultivo }}</td>
                            <td>{{ cultivo.descripcion_cultivo }}</td>
                            <td>{{ cultivo.necesidad_agua }}</td>
                            <td><a href="{{ url_for('remover_cultivo', id=cultivo.id) }}">Remover</a></td>
                            <td><a href="{{ url_for('editar_cultivo', id=cultivo.id) }}">Editar</a></td>
                        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}