{% extends "template.html" %}

{% block contenido %}

<section class="section">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <br>
                <div class="card-body">
                    <!-- Vertical Form -->
                    <form class="row g-3" method="post" action="{{ url_for('saveNewCalc') }}">
                        <h5 class="card-title">Datos del cultivo</h5>
                        <div class="col-12">
                            <label for="agua_disponible" class="form-label">Total de agua disponible para el riego
                                (Litros)</label>
                            <input class="form-control" type="text" id="agua_disponible" name="agua_disponible"
                                required>
                        </div>
                        <div class="col-6">
                            <label for="horas_riego" class="form-label">Cantidad de horas de riego</label>
                            <input type="text" id="horas_riego" name="horas_riego" required class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="hora_inicio" class="form-label">Hora de inicio de riego</label>
                            <input type="text" id="hora_inicio" name="hora_inicio" required class="form-control">
                        </div>
                        <h5 class="card-title">Lineas de cultivo</h5>
                        <div id="cropContainer" class="row">
                            <div class="row">
                                <div class="col-5">
                                    <label for="cultivoId_" class="form-label">Tipo de cultivo</label>
                                    <select name="cultivoId[]" id="cultivoId[]" class="selectpicker form-control">
                                        {% for crop in cropTypes %}
                                        <option value="{{ crop.id }}">{{ crop.nombre_cultivo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-5">
                                    <label for="cantidad_plantas_" class="form-label">Nro de plantas por línea</label>
                                    <input type="text" id="cantidad_plantas[]" name="cantidad_plantas[]" required
                                        class="form-control">
                                </div>
                                <div class="col-2">
                                    <br />
                                    <a class="btn btn-success" id="addButton" onclick="addCrop();"><i
                                            class="bi bi-plus-square"></i></a>
                                    <!--<a class="btn btn-danger" id="addButton" onclick="removeCrop($(this));"><i
                                            class="bi bi-x-square"></i></a>-->
                                </div>
                            </div>
                        </div>
                        <div id="newinput"></div>

                        <div class="text-center" style="align-content: right;">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a class="btn btn-danger" href="{{ url_for('listCropType') }}">Volver</a>
                        </div>
                    </form><!-- Vertical Form -->

                </div>
            </div>

        </div>
    </div>
</section>
<script type="text/javascript">
    function addCrop() {

        var newRowAdd = '<div class="row"><div class="col-5"><label for="cultivoId_" class="form-label">Tipo de cultivo</label>' +
            '<select name="cultivoId[]" id="cultivoId[]" class="selectpicker form-control">' +
            '{% for crop in cropTypes %}' +
            '<option value="{{ crop.id }}">{{ crop.nombre_cultivo }}</option>' +
            '{% endfor %}' +
            '</select></div><div class="col-5"><label for="cantidad_plantas_" class="form-label">Nro de plantas por línea</label>' +
            '<input type="text" id="cantidad_plantas[]" name="cantidad_plantas[]" required class="form-control" ></div >' +
            '<div class="col-2"><br /><a class="btn btn-success" id="addButton" onclick="addCrop();"><i class="bi bi-plus-square"></i></a>' +
            /*'<a class="btn btn-danger" id="addButton" onclick="removeCrop($(this));"><i class="bi bi-x-square"></i></a>'+*/
        '</div></div>';
        $('#cropContainer').append(newRowAdd);
    }
    function removeCrop(aaaa) {
        alert(aaaa);

        $(this).parents("#row").remove();

    }

</script>
{% endblock %}